
		html,body,a,p,ul,li{
			padding: 0;
			margin:0;
		}
		a{
			text-decoration: none;
		}
		ul{
			list-style: none;
		}
		.top{
			width: 100%;
			height: 160px;
		}
		.top-img{
			background: url("./images/title.jpg");
			background-position: center 0;
		}
		.top-img a{
			display: block;
		    width: 100%;
		    height: 120px;
		}
		.top-content{
			/*position: relative;
		    z-index: 30;*/
		    height: 40px;
		    font-size: 12px;
		    color: #b0b0b0;
		    background: #333;
		    
		}
		.top-bar{
			margin: 0 auto;
			height: 40px;
		}
	